---
import { getCollection } from 'astro:content';
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';
import Prose from '../../components/Prose.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter  } = await entry.render();

---

<MarkdownPostLayout frontmatter={entry.data}>
  <p class="font-subheading font-bold mb-2 inline-block uppercase underline underline-offset-4 decoration-2 rotate-1">
    {remarkPluginFrontmatter.minutesRead}
  </p>
  <Prose>
    <Content />
  </Prose>
</MarkdownPostLayout>