---
import Layout from '../layouts/Layout.astro';

const title = "About";
---
<Layout title={title}>
	<div>
		<h1 class="text-2xl text-center md:text-3xl lg:text-4xl font-heading">About.</h1>
		<hr class="bg-accent h-1 border-0 my-4" />
		<p class="text-center font-body">This site is currently under construction.</p>
	</div>
</Layout>