---
import Layout from "../layouts/Layout.astro";

const title = "About";
---

<Layout title={title}>
  <div class="max-w-post-100 mx-auto">
    <h1 class="text-2xl text-center md:text-3xl font-heading">About.</h1>
    <hr class="bg-accent-400 h-1 border-0 my-4" />
    <h2 class="text-xl text-left font-heading mt-8">About me.</h2>
    <p>
      I'm Kyle, I love games. That's all there was to it for a long time, now I
      have this blog with which I hope I can shine a light onto games that I
      think are <strong>JUST GOOD GAMES</strong> <em>(I said the thing).</em> This is a passion project,
      so don't expect fancy stuff like a reasonable release schedule for reviews
      and posts. I balance this, among other projects like working on my own
      games, with a full time job. I mention this because if you're like me,
      juggling a boatload of uncontrollable and/or self-inflicted
      responsibilities, then you can rest assured that when I say a game is
      worth the time it's really worth it.
    </p>
    <h2 class="text-xl text-left font-heading mt-8">How I Write.</h2>
    <p>
      reviews in such a way that they're like asking a friend what a game is
      like. I want to evoke the feel of a game and what it's like to play
      through my words and give you a sincere glimpse into my own experiences.
      I'm not a robot, anything I write will have an inherit bias based on my
      personality and opinions. If I say something you don't agree with, that's
      just the way it goes sometimes.
    </p>
    <h2 class="text-xl text-left font-heading mt-8">
      Schedule and content I plan on posting.
    </h2>
    <p>
      as regularly as my free time permits: reviews of games I have enjoyed,
      posts about games I am looking forward to and general articles about stuff
      I find interesting that's tangentially related to video games.
    </p>
  </div>
</Layout>
