---
import Navigation from '../components/Navigation.astro';
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';

const title = "About";
---

<html lang="en">
	<Head title={title} />
	<body class="bg-background text-body min-h-screen px-4">
		<Navigation />
		<div class="flex justify-center items-center w-full" style="height: calc(100vh - 4rem);">
			<div class="max-w-lg w-full">
				<h1 class="text-2xl text-center md:text-3xl lg:text-4xl font-heading">About.</h1>
				<hr class="bg-accent h-1 border-0 my-4" />
				<p class="text-center font-body">This site is currently under construction.</p>
			</div>
		</div>
		<Footer />
	</body>
</html>