---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-background text-text flex justify-center items-center min-h-screen">
		<div>
			<h1 class="text-primary text-4xl font-heading">Just Good Games</h1>
			<hr class="bg-accent h-1 border-0 mb-4" />
			<p class="text-text text-center font-body">This site is currently under construction.</p>
		</div>
	</body>
</html>