---
const platform = "github";
const username = "finlopes97";
const kofiCode = "J3J7Z57VZ";
---

<footer class="fixed bottom-0 w-full bg-background text-body flex justify-center items-center px-4 py-2 sm:px-8 sm:py-4">
  <div class="flex flex-col sm:flex-row justify-between items-center w-full max-w-4xl">
    <p class="font-body text-center sm:text-left">
      Learn more about my projects on <a
        href={`https://www.${platform}.com/${username}`} class="text-accent hover:underline">{platform}</a>!
    </p>
    <a href={`https://ko-fi.com/${kofiCode}`} target="_blank" class="mt-2 sm:mt-0">
      <img
        style="border:0px; width:auto; height:auto; max-height:36px;"
        src="https://storage.ko-fi.com/cdn/kofi2.png?v=3"
        alt="Buy Me a Coffee at ko-fi.com"
      />
    </a>
  </div>
</footer>

