---
import Kofi from "./Kofi.astro";
import Social from "./Social.astro";

const kofiCode = "J3J7Z57VZ";
---

<footer class="bottom-0 w-full bg-background text-body flex px-4 py-2 md:px-8 md:py-4 mx-auto">
  <div class="flex flex-row justify-center gap-2 md:gap-4 items-center w-full">
    <Social platform="github.com" userName="finlopes97" iconName="github" />
    <Social platform="mastadon.social" userName="@finlopes" iconName="mastodon" />
    <Social platform="youtube.com" userName="finlopes97" iconName="youtube" />
    <Kofi kofiCode={kofiCode} />
  </div>
</footer>