---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import NavLink from "./NavLink.astro";
---
<header class="md:flex p-5 gap-5 bg-white border-b-2 border-b-black">
  <Astronav>
    <div class="flex w-full justify-between">
      <NavLink target="/" title="Home" />
      <div class="block md:hidden">
        <MenuIcon class="w-4 h-4 text-foreground-800" />
      </div>
    </div>
    <MenuItems class="hidden mt-5 md:flex">
      <ul class="flex flex-col gap-5 md:flex-row md:gap-5">
        <NavLink target="/about" title="About" />
        <NavLink target="/archive" title="Archive" />
      </ul>
    </MenuItems>
  </Astronav>
</header>