---
const { kofiCode } = Astro.props;
---
<a href={`https://ko-fi.com/${kofiCode}`} target="_blank" class="mt-2 sm:mt-0">
	<img
		class="transform duration-300 hover:-translate-y-1"
		style="border:0px; width:auto; height:auto; max-height:36px;"
		src="https://storage.ko-fi.com/cdn/kofi2.png?v=3"
		alt="Buy Me a Coffee at ko-fi.com"
	/>
</a>