---
---
<nav class="bg-background text-body p-4 font-heading rounded-bl-lg rounded-br-lg">
  <ul class="flex justify-between items-center">
    <li><a href="/" class="hover:text-accent">Home</a></li>
    <li><a href="/about" class="hover:text-accent">About</a></li>
    <li><a href="/blog" class="hover:text-accent">Blog</a></li>
  </ul>
</nav>