---
const { target, title } = Astro.props;
---
<li class="list-none border-2 border-black p-2 shadow-[2px_2px_0px_rgba(0,0,0,1)] md:shadow-[4px_4px_0px_rgba(0,0,0,1)] md:hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition ease-in-out duration-500"><a href=`${target}` class="">{title}</a></li>