---
---
<div
  class="prose-body:bg-background-100 prose-body:text-foreground-500
  prose-h2:text-3xl prose-h2:font-heading prose-h2:text-primary-600 prose-h2:border-b-4 prose-h2:border-foreground-500 prose-h2:pb-2 prose-h2:mb-4
  prose-p:text-foreground-500 prose-p:font-body prose-p:text-left prose-p:mb-4 prose-p:text-lg
  prose-a:text-accent-600 prose-a:underline prose-a:font-bold
  prose-ul:list-disc prose-ul:pl-5 prose-ul:mb-4
  prose-ol:list-decimal prose-ol:pl-5 prose-ol:mb-4
  prose-img:mx-auto prose-img:mb-4 prose-img:shadow-lg prose-img:border-2 prose-img:border-black prose-img:w-full prose-img:max-w-post-100 prose-img:h-auto
  prose-blockquote:border-l-4 prose-blockquote:border-secondary-400 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:mb-4">
  <slot />
</div>