<div
  class="prose-h1:font-heading prose-h1:text-4xl prose-h1:text-body
	prose-h2:font-heading prose-h2:text-3xl prose-h2:text-body
	prose-h3:font-heading prose-h3:text-2xl prose-h3:text-body
	prose-h4:font-heading prose-h4:text-xl prose-h4:text-body
	prose-h5:font-heading prose-h5:text-lg prose-h5:text-body
	prose-h6:font-heading prose-h6:text-base prose-h6:text-body
  prose-p:font-body prose-p:text-base prose-p:text-body prose-p:leading-tight">
  <slot />
</div>