---
---
<div
  class="prose-body:bg-background-100 prose-body:text-foreground-500
  prose-h2:text-3xl prose-h2:font-heading prose-h2:text-primary-600 prose-h2:border-b-4 prose-h2:border-foreground-500 prose-h2:pb-2 prose-h2:mb-4
  prose-h3:text-2xl prose-h3:font-subheading prose-h3:text-black prose-h3:mb-4
  prose-h4:text-xl prose-h4:font-subheading prose-h4:mb-2 prose-h4:text-accent-600
  prose-p:text-foreground-500 prose-p:font-body prose-p:text-left prose-p:mb-4 prose-p:text-lg
  prose-a:text-accent-600 prose-a:underline prose-a:font-bold
  prose-em:text-primary-600 prose-em:italic
  prose-ul:list-disc prose-ul:pl-5 prose-ul:mb-4
  prose-ol:list-decimal prose-ol:pl-5 prose-ol:mb-4
  prose-img:mx-auto prose-img:mb-4 prose-img:w-full prose-img:max-w-post-100 prose-img:object-contain prose-img:h-auto
  prose-blockquote:border-l-4 prose-blockquote:border-secondary-400 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:mb-4
  prose-hr:mb-8 prose-hr:mt-4 prose-hr:bg-accent-400 prose-hr:h-1 prose-hr:border-0 prose-hr:shadow-[2px_2px_0px_rgba(0,0,0,1)] prose-hr:mx-auto prose-hr:w-full">
  <slot />
</div>