---
---
<div
  class="prose-body:bg-background prose-body:text-foreground
  prose-h2:text-xl prose-h2:font-heading prose-h2:text-primary
  prose-p:text-foreground prose-p:font-body prose-p:text-justify">
  <slot />
</div>