<a
  href={`/rss.xml`}
  class="flex flex-row align-middle gap-2 items-center transition-all
  transform duration-300 hover:-translate-y-1 bg-white p-2 rounded-lg 
  border-2 border-black text-sm md:text-base tracking-tight w-fit"
>
  <img
    style="border:0px; width:auto; height:auto; max-height:36px;"
    src="/images/rss.png"
    alt="Subscribe to our RSS feed"
  />
  Subscribe to our RSS feed
</a>
