---
import { Icon } from 'astro-icon/components'
const { platform, userName, iconName } = Astro.props;
---

<a href={`https://${platform}.com/${userName}`}>
    <Icon name={`mdi:${iconName}`} class="transform duration-300 hover:text-accent hover:-translate-y-1" />
</a>