---
---

<div class="bg-accent-300 border-4 border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] p-4 flex-1">
  <h3 class="text-xl font-bold font-heading text-center mb-2 bg-white inline-block px-4 py-2 border-4 border-black">PC Hardware</h3>
  <ul class="list-none space-y-1 font-mono">
    <li class="bg-white p-2 border-4 border-black"><span class="font-bold">OS:</span> Windows 11 Pro</li>
    <li class="bg-white p-2 border-4 border-black"><span class="font-bold">CPU:</span> AMD Ryzen 5 7600</li>
    <li class="bg-white p-2 border-4 border-black"><span class="font-bold">GPU:</span> NVIDIA GeForce RTX 3070 Ti</li>
    <li class="bg-white p-2 border-4 border-black"><span class="font-bold">RAM:</span> 32GB DDR5</li>
</div>