---

---

<form
  action="https://buttondown.com/api/emails/embed-subscribe/kyle.finlayson1997"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/kyle.finlayson1997', 'popupwindow')"
  class="bg-secondary-300 p-4 md:p-6 border-4 border-black"
>
  <label for="bd-email" class="block font-bold text-black mb-2 md:mb-4"
    >Enter your email</label
  >
  <div class="flex flex-col gap-4 w-full mx-auto justify-center align-middle md:flex-row">
      <input
    type="email"
    name="email"
    id="bd-email"
    required
    class="bg-white text-black p-2 border-2 border-black md:w-full"
  />
  <input
    type="submit"
    value="Subscribe"
    class="border-2
  p-2
  border-black
  bg-accent-500
  hover:bg-accent-400
  hover:-translate-y-1
  transition ease-in-out duration-300"
  />
  </div>

  <p class="mt-4 text-black bg-red-400 w-fit mx-auto p-2 rotate-1">
    Powered by Buttondown.
  </p>
</form>
