---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="bg-body-300 text-foreground min-h-screen">
		<Header />
    <main class="min-h-screen flex flex-col justify-between">
    <div class="flex grow justify-center items-center w-full">
      <div class="flex-1">
        <article class="mx-auto">
          <slot />
        </article>
      </div>
    </div>
    <Footer />
    </main>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>