---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <Head title={title} />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const script = document.createElement("script");
        script.src = "https://identity.netlify.com/v1/netlify-identity-widget.js";
        script.onload = () => {
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
            if (window.location.hash && window.location.hash.includes('invite_token')) {
              const token = window.location.hash.split('=')[1];
              window.netlifyIdentity.open('signup');
              window.netlifyIdentity.gotrue.acceptInvite(token, true)
                .then(user => console.log('Invite accepted'))
                .catch(err => console.error('Error accepting invite', err));
            }
          }
        };
        document.head.appendChild(script);
      });
    </script>
  </head>
  <body class="bg-body-300 text-foreground min-h-screen">
    <Header />
    <main class="min-h-screen flex flex-col justify-between">
      <div class="flex grow justify-center w-full">
        <div class="flex-1">
          <article class="mx-auto my-8 px-12">
            <slot />
          </article>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
